<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <a href="" class="logo"><img src="./assets/img/logo-2.svg" alt=""></a>
                <div class="des text-base font-light">Tam Chúc là một quần thể danh thắng tâm linh rộng lớn, trong đó có chùa Tam Chúc – ngôi chùa được biết đến là một trong những ngôi chùa lớn nhất thế giới.</div>
                <a href="" title="" class="award">Award</a>
            </div>
            <div class="col-lg-2 col-6">
                <ul class="link txt-xl font-bold">
                    <li><a href="" title="">Giới thiệu</a></li>
                    <li><a href="" title="">Dịch vụ</a></li>
                    <li><a href="" title="">Tin tức</a></li>
                    <li><a href="" title="">Thư viện</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-6">
                <h4 class="font-bold txt-xl">Tiện ích</h4>
                <ul class="link text-base">
                    <li><a href="" title="Du thuyền VIP">Du thuyền VIP</a></li>
                    <li><a href="" title="Ẩm thực">Ẩm thực</a></li>
                    <li><a href="" title="Khách xá Tam Chúc">Khách xá Tam Chúc</a></li>
                    <li><a href="" title="Hội nghị - Hội thảo">Hội nghị - Hội thảo</a></li>
                    <li><a href="" title="Tiện ích khác">Tiện ích khác</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="font-bold txt-xl">Liên hệ</h4>
                <div class="address text-base">Ba Sao, Kim Bảng, Hà Nam</div>
                <div class="phone text-base"><a href="tel:0226.221.9999">0226.221.9999</a></div>
                <div class="email text-base"><a href="mailto:info@tamchuc.com.vn">info@tamchuc.com.vn</a></div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="flex-lc justify-content-between">
                <div class="copyright text-base">Copyright 2024 Tamchuc.com.vn. All rights reserved</div>
                <div class="social flex">
                    <a href="" title="" class="facebook">facebook</a>
                    <a href="" title="" class="youtube">youtube</a>
                    <a href="" title="" class="instagram">Instagram</a>
                </div>
            </div>
        </div>
    </div>
</footer>