<header>
    <nav class="navbar">
        <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
        <a href="/tamchuc/build/home" class="logo"><img src="./assets/img/logo.png" alt=""></a>
        <div class="navbar-collapse">
            <ul class="navbar-nav flex">
                <li><a href="/tamchuc/build/gioi-thieu" title="" class="">Câu chuyện cảm hứng</a></li>
                <li>
                    <a href="/tamchuc/build/tien-ich" title="Tiện ích">Tiện ích <i class="arrow-down"></i></a>
                    <ul class="sub-menu">
                        <li><a href="" title="">Du thuyền VIP</a></li>
                        <li><a href="" title="">Ẩm thực</a></li>
                        <li><a href="" title="">Khách xá Tam Chúc</a></li>
                        <li><a href="" title="">Hội nghị - Hội thảo</a></li>
                        <li><a href="" title="">Tiện ích khác</a></li>
                    </ul>
                </li>
                <li><a href="/tamchuc/build/dich-vu" title="Dịch vụ">Dịch vụ</a></li>
                <li><a href="/tamchuc/build/tin-tuc" title="Tin tức">Tin tức</a></li>
                <li><a href="/tamchuc/build/thu-vien" title="Thư viện">Thư viện</a></li>
                <li><a href="/tamchuc/build/lien-he" title="Liên hệ">Liên hệ</a></li>
            </ul>
        </div>
        <div class="language">
            <button type="button" class="selected"><img src="./assets/img/vn.svg" alt=""></button>
            <ul class="list">
                <li><button type="button">Tiếng Việt</button></li>
                <li><button type="button">English</button></li>
            </ul>
        </div>
    </nav>
</header>
<div class="ticket">
    <button type="button"><span>Tới trang Booking</span></button>
</div>