<main>
    <div class="box-breadcrumb pr">
        <img src="./assets/img/bre-5.jpg" alt="">
        <ul class="breadcrumb flex-center" data-aos="fade-up">
            <li class="breadcrumb-item"><a href="#">Tam chúc</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
        </ul>
    </div>
    <div class="tamchuc-contact bg pr">
        <div class="container">
            <div class="flex">
                <div class="col-left">
                    <h1 class="title-dc pr">
                        <span>Liên hệ với</span>
                        <span>chúng tôi</span>
                    </h1>
                    <div class="des text-base mt-2 mb-4">Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet.</div>
                    <div class="info text-base">
                        <div class="address">Ba Sao, Kim Bảng, Hà Nam</div>
                        <div class="phone"><a href="tel:(+84) 123 456 789">(+84) 123 456 789</a></div>
                        <div class="email"><a href="mailto:callcenter@tamchuc.com.vn">callcenter@tamchuc.com.vn</a></div>
                    </div>
                </div>
                <div class="col-right">
                    <form action="" method="">
                        <h3>Gửi tin nhắn</h2>
                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" name="" placeholder="Tên của bạn*" required>
                            </div>
                            <div class="form-group">
                                <input type="number" name="" placeholder="Số điện thoại">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" name="" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Lời nhắn - thông điệp bạn muốn gửi đến Tam Chúc"></textarea>
                        </div>
                        <button type="submit" class="btn-submit flex-center font-bold text-base">GỬI</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.8136786331816!2d105.79516557437368!3d20.554803003890232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135cd59a34c549f%3A0x6f64bcde5eca7132!2zQ2jDuWEgVGFtIENow7pj!5e0!3m2!1sfr!2s!4v1712241499031!5m2!1sfr!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</main>