<main>
    <div class="tamchuc-slider pr">
        <div class="slider-list">
            <div class="item">
                <img src="./assets/img/Banner_Images1.png" class="img-pc" alt="">
                <img src="./assets/img/slide-m.png" class="img-mobile" alt="">
                <div class="text">
                    <h4>KHU DU LỊCH QUỐC GIA</h4>
                    <h1>TAM CHÚC</h1>
                    <p>Hòa mình vào không gian tâm linh của Quần thể danh thắng tâm linh nổi tiếng nhất Việt Nam</p>
                </div>
            </div>
            <div class="item">
                <img src="./assets/img/Banner_Images1.png" class="img-pc" alt="">
                <img src="./assets/img/slide-m.png" class="img-mobile" alt="">
                <div class="text">
                    <h4>KHU DU LỊCH QUỐC GIA</h4>
                    <h1>TAM CHÚC</h1>
                    <p>Hòa mình vào không gian tâm linh của Quần thể danh thắng tâm linh nổi tiếng nhất Việt Nam</p>
                </div>
            </div>
        </div>
        <div class="stork stork--1"></div>
        <div class="stork stork--2"></div> 
        <div class="stork stork--3"></div>
    </div>
    <div class="tamchuc-story pr">
        <div class="container">
            <div class="box-order flex-lc">
                <div class="quote">
                    <div class="text pr">
                        <p data-aos="fade-up">Cuộc sống là một cuộc hành hương vô cùng tuyệt diệu, </p>
                        <p data-aos="fade-up" data-aos-delay="200">nhưng chỉ tuyệt diệu với những ai sẵn sàng tìm kiếm nó.</p>
                    </div>
                    <button type="button" class="btn-booking flex-lc" data-aos="fade-right" data-aos-delay="600">TỚI TRANG BOOKING <i class="arrow-right"></i></button>
                </div>
            </div>
            <div class="img-wrapper">
                <img src="./assets/img/Chua1.png" alt="">
            </div>
            <div class="story" data-aos="fade-up">
                <div class="box-title flex-center pr">
                    <h2 class="flex-center">Câu chuyện cảm hứng</h2>
                </div>
                <div class="text-base text-center intro">Tam Chúc là một quần thể danh thắng tâm linh rộng lớn, trong đó có chùa Tam Chúc – ngôi chùa được biết đến là một trong những ngôi chùa lớn nhất thế giới. Nơi đây không chỉ có cảnh quan thiên nhiên hoang sơ hùng vĩ, đẹp tựa chốn bồng lai mà còn là nơi nuôi dưỡng, phát triển, truyền bá những giá trị văn hóa Phật giáo mang tầm quốc tế.</div>
                <div class="flex-center">
                    <a href="" title="TÌM HIỂU THÊM" class="btn-pr flex-center">TÌM HIỂU THÊM</a>
                </div>
            </div>
        </div>
    </div>
    <div class="tamchuc-utilities pr">
        <div class="container">
            <div class="box-title flex-center pr">
                <h2 class="flex-center">Tiện ích</h2>
            </div>
            <div class="utilities">
                <div class="item">
                    <div class="img-wrapper"><img src="./assets/img/duthuyen.png" alt=""></div>
                    <div class="content text-red">
                        <h4 class="txt-xl font-semibold">Du thuyền Vip</h4>
                        <p>Du thuyền VIP là một trong những dịch vụ được đánh giá cao nhất vì không chỉ là phương tiện vận chuyển, mà bạn còn được ...</p>
                        <a href="" title="" class="btn-pr flex-center">KHÁM PHÁ</a>
                    </div>
                </div>
                <div class="item">
                    <div class="img-wrapper"><img src="./assets/img/amthuc.png" alt=""></div>
                    <div class="content text-red">
                        <h4 class="txt-xl font-semibold">Ẩm thực</h4>
                        <p>Với hệ thống nhà hàng phục vụ món chay và món mặn, trong nhà, ngoài trời hoặc trong nhà hàng nổi lung linh trên hồ Lục Nhạc ...</p>
                        <a href="" title="" class="btn-pr flex-center">KHÁM PHÁ</a>
                    </div>
                </div>
                <div class="item">
                    <div class="img-wrapper"><img src="./assets/img/khachxa.png" alt=""></div>
                    <div class="content text-red">
                        <h4 class="txt-xl font-semibold">Khách xá Tam Chúc</h4>
                        <p>Khách sạn Tam Chúc với thiết kế tinh tế và thanh lịch, mang dáng vẻ kiến trúc Đông Dương, du khách sẽ được đắm mình ...</p>
                        <a href="" title="" class="btn-pr flex-center">KHÁM PHÁ</a>
                    </div>
                </div>
                <div class="item">
                    <div class="img-wrapper"><img src="./assets/img/honghi.png" alt=""></div>
                    <div class="content text-red">
                        <h4 class="txt-xl font-semibold">Hội nghị - Hội thảo</h4>
                        <p>Khu du lịch Tam Chúc có 3 phòng hội nghị với sức chứa từ 100 đến 1000 người. Các phòng họp với vị trí đắc địa trên tầng cao ...</p>
                        <a href="" title="" class="btn-pr flex-center">KHÁM PHÁ</a>
                    </div>
                </div>
                <div class="item">
                    <div class="img-wrapper"><img src="./assets/img/other.png" alt=""></div>
                    <div class="content text-red">
                        <h4 class="txt-xl font-semibold">Tiện ích khác</h4>
                        <p>Đến khu du lịch Tam Chúc, khách hàng có thể trải nghiệm các hoạt động như Đứng trên tấm ván trượt nước, đạp thuyền kayak, ...</p>
                        <a href="" title="" class="btn-pr flex-center">KHÁM PHÁ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tamchuc-service pr">
        <div class="container">
            <div class="box-title flex-center pr">
                <h2 class="flex-center">Trải nghiệm dịch vụ</h2>
            </div>
            <div class="des text-base text-red text-center">Cùng trải nghiệm chốn tiên cảnh bồng lai, đắm mình trong thiên nhiên và tận hưởng những dịch vụ được phục vụ tận tình.</div>
            <div class="item flex">
                <div class="img-wrapper pr">
                    <img src="./assets/img/ve-du-thuyen.png" alt="">
                </div>
                <div class="content">
                    <div class="info">
                        <h3>Vé Du thuyền</h3>
                        <ul class="text-base">
                            <li>01 Vé du thuyền từ Trung tâm Hội nghị Quốc tế Vesak - Bến thuyền Tam Quan Nội</li>
                            <li>01 vé xe điện/bus/thuyền từ Tam Quan Nội – Vesak</li>
                        </ul>
                    </div>
                    <div class="flex-lc">
                        <div class="price text-red">
                            <h5 class="text-base font-weight-normal mb-0">Mùa cao điểm</h5>
                            <p>2700.000VNĐ</p>
                        </div>
                        <div class="price text-red">
                            <h5 class="text-base font-weight-normal mb-0">Mùa thấp điểm</h5>
                            <p>230.000VNĐ</p>
                        </div>
                        <button type="button" class="btn-pr">KHÁM PHÁ</button>
                    </div>
                </div>
            </div>
            <div class="item flex">
                <div class="img-wrapper pr">
                    <img src="./assets/img/du-thuyen-tron-goi.png" alt="">
                </div>
                <div class="content">
                    <div class="info">
                        <h3>Du thuyền - trọn gói</h3>
                        <ul class="text-base">
                            <li>01 vé du thuyền Cao cấp + Trà bánh trên thuyền + Chiều ra đi xe điện/bus/thuyền;</li>
                            <li>01 vé xe điện tham quan chùa Ba Sao;</li>
                            <li>Được đặc quyền ghé Đình Tam Chúc vào mua cao điểm và ghé thêm Đền Mẫu vào mùa thấp điểm;</li>
                            <li>Hướng dẫn viên thuyết minh trên thuyền.    </li>
                        </ul>
                    </div>
                    <div class="flex-lc">
                        <div class="price text-red">
                            <h5 class="text-base font-weight-normal mb-0">Mùa cao điểm</h5>
                            <p>350.000VNĐ</p>
                        </div>
                        <div class="price text-red">
                            <h5 class="text-base font-weight-normal mb-0">Mùa thấp điểm</h5>
                            <p>250.000VNĐ</p>
                        </div>
                        <button type="button" class="btn-pr">KHÁM PHÁ</button>
                    </div>
                </div>
            </div>
            <div class="item flex">
                <div class="img-wrapper pr">
                    <img src="./assets/img/combo-hoan-hao.png" alt="">
                </div>
                <div class="content">
                    <div class="info">
                        <h3>Combo hoàn hảo</h3>
                        <ul class="text-base">
                            <li>01 Vé du thuyền từ Trung tâm Hội nghị Quốc tế Vesak - Bến thuyền Tam Quan Nội và 01 vé xe điện/bus/thuyền từ Tam Quan Nội – Vesak;</li>
                            <li>01 vé xe điện khứ hồi Khách xá - Chùa Cổ Ba Sao;</li>
                            <li>01 suất buffet trưa tại nhà hàng.</li>
                        </ul>
                    </div>
                    <div class="flex-lc">
                        <div class="price text-red">
                            <h5 class="text-base font-weight-normal mb-0">Mùa cao điểm</h5>
                            <p>450.000VNĐ</p>
                        </div>
                        <div class="price text-red">
                            <h5 class="text-base font-weight-normal mb-0">Mùa thấp điểm</h5>
                            <p>450.000VNĐ</p>
                        </div>
                        <button type="button" class="btn-pr">KHÁM PHÁ</button>
                    </div>
                </div>
            </div>
            <div class="item flex">
                <div class="img-wrapper pr">
                    <img src="./assets/img/ve-xe-dien.png" alt="">
                </div>
                <div class="content">
                    <div class="info">
                        <h3>Vé du thuyền + xe điện chùa Cổ  </h3>
                        <ul class="text-base">
                            <li>01 Vé du thuyền từ Trung tâm Hội nghị Quốc tế Vesak - Bến thuyền Tam Quan Nội và 01 vé xe điện/bus/thuyền từ Tam Quan Nội – Vesak;</li>
                            <li>01 vé xe điện khứ hồi khách xá - Chùa Cổ Ba Sao. </li>
                        </ul>
                    </div>
                    <div class="flex-lc">
                        <div class="price text-red">
                            <h5 class="text-base font-weight-normal mb-0">Mùa cao điểm</h5>
                            <p>300.000VNĐ</p>
                        </div>
                        
                        <button type="button" class="btn-pr">KHÁM PHÁ</button>
                    </div>
                </div>
            </div>
            <div class="flex-center view-more">
                <button type="button" class="text-base">XEM THÊM</button>
            </div>
        </div>
    </div>
    <div class="tamchuc-why pr">
        <div class="container">
            <div class="flex-lc">
                <h2 class="title" data-aos="fade-right">Lý do bạn nên trải nghiệm <span>TAM CHÚC</span></h2>
                <div class="box-text text-base" data-aos="fade-left">
                    <p><span>“Chốn bồng lai tiên cảnh”</span> là mỹ từ mà bất cứ ai khi đến với ngôi chùa này đều phải thốt lên. Với lưng tựa vào núi, trước mặt là hồ và bao quanh là những cánh rừng tự nhiên xanh biếc, chùa Tam Chúc sẽ khiến bạn mê mẩn quên lối về bởi khung cảnh thanh bình hiếm có.</p>
                    <p>Nơi đây được World Travel Award - Giải thưởng du lịch danh giá hàng đầu thế giới bình chọn là <span>“Điểm đến du lịch văn hoá hàng đầu châu Á”</span> năm 2023</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tamchuc-news pr">
        <div class="container">
            <div class="box-title flex-center pr">
                <h2 class="flex-center">Tin tức về Tam Chúc</h2>
            </div>
            <div class="des text-base text-red text-center">Cập nhật thông tin về khuyến mãi, các hoạt động, sự kiện diễn ra tại Khu du lịch Tam Chúc</div>
            <div class="news-list">
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-1.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-2.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-3.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-4.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-5.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-6.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
            </div>
            <div class="flex-center view-more">
                <button type="button" class="text-base">XEM THÊM</button>
            </div>
        </div>
    </div>

</main>