<main>
    <div class="box-breadcrumb pr">
        <img src="./assets/img/bre-1.jpg" alt="">
        <ul class="breadcrumb flex-center" data-aos="fade-up">
            <li class="breadcrumb-item"><a href="#">Tam chúc</a></li>
            <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
        </ul>
    </div>
    <div class="tamchuc-story-ins bg pr">
        <div class="container">
            <div class="flex">
                <h1 class="title-dc pr">
                    <span>Câu chuyện</span>
                    <span>cảm hứng</span>
                </h1>
                <div class="content">
                    <p><span>Tam Chúc là một quần thể danh thắng tâm linh rộng lớn, trong đó có chùa Tam Chúc – ngôi chùa được biết đến là một trong những ngôi chùa lớn nhất thế giới. Nơi đây không chỉ có cảnh quan thiên nhiên hoang sơ hùng vĩ, đẹp tựa chốn bồng lai mà còn là nơi nuôi dưỡng, phát triển, truyền bá những giá trị văn hóa Phật giáo mang tầm quốc tế.</span></p>
                    <p>Toàn bộ khu du lịch Tam Chúc nằm trọn vẹn và ẩn mình trong quần thể núi đá vôi ngập nước độc đáo với phong cảnh nước non hùng vĩ và hữu tình, gắn liền với truyền thuyết “Tiền Lục Nhạc - hậu Thất Tinh”</p>
                    <p>Truyền thuyết lưu truyền rằng: “Thuở xưa, trời đất còn gần nhau, các nàng tiên nữ xuống trần gian chơi. Đi qua Tam Chúc, thấy phong cảnh hữu tình nên mê mẩn đến quên đường về. Nhà trời mỗi lần gọi về sẽ ném xuống một quả chuông, ném đến sáu lần mà các nàng vẫn say sưa ngắm cảnh. Sáu quả chuông ném xuống đó chính là sáu ngọn núi nằm rải rác khắp hồ nước lớn trước cảnh chùa Tam Chúc hiện nay, hay còn gọi là “Tiền lục nhạc”.</p>
                    <p>Trên dãy núi 99 ngọn nằm ở phía Tây Nam hướng về chùa Hương có 7 ngọn gần làng Tam Chúc. Tích xưa kể rằng, khi ấy, cả 7 ngọn núi này đều xuất hiện những đốm sáng lớn tựa như 7 ngôi sao. Ánh sáng lung linh từ trên cao rọi xuống một vùng rộng lớn, dân làng gọi đó là núi Thất Tinh. Có người xấu muốn phá đi 7 ngôi sao để kìm hãm thế đất ấy. Họ chất củi thành đống lớn và đốt nhiều ngày khiến cho 4 ngôi sao bị mờ dần đi và cuối cùng chỉ còn lại 3 ngôi sao. Vì thế, thị trấn của huyện Kim Bảng có tên gọi Ba Sao được lấy từ tích ấy".</p>
                </div>
            </div>
            <div class="pagoda flex align-items-end">
                <div class="pagoda__1 text-center">
                    <img src="./assets/img/chua1.png" alt="">
                    <p class="font-semibold">Họa tiết nhà Vesak</p>
                </div>
                <div class="pagoda__2 text-center">
                    <img src="./assets/img/chua2.png" alt="">
                    <p class="font-semibold">Họa tiết chùa Ngọc</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tamchuc-gallery">
        <div class="img-full"><img src="./assets/img/img-pagoda.jpg" alt=""></div>
        <div class="box-gallery bg">
            <div class="container">
                <div class="gallery">
                    <a href="./assets/img/img-gallery-1.png" data-fancybox="gallery"><img src="./assets/img/img-gallery-1.png" alt=""></a>
                    <a href="./assets/img/img-gallery-2.png" data-fancybox="gallery"><img src="./assets/img/img-gallery-2.png" alt=""></a>
                    <a href="./assets/img/img-gallery-3.png" data-fancybox="gallery"><img src="./assets/img/img-gallery-3.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="tamchuc-why pr">
        <div class="container">
            <div class="flex-lc">
                <h2 class="title" data-aos="fade-right">Lý do bạn nên trải nghiệm <span>TAM CHÚC</span></h2>
                <div class="box-text text-base" data-aos="fade-left">
                    <p><span>“Chốn bồng lai tiên cảnh”</span> là mỹ từ mà bất cứ ai khi đến với ngôi chùa này đều phải thốt lên. Với lưng tựa vào núi, trước mặt là hồ và bao quanh là những cánh rừng tự nhiên xanh biếc, chùa Tam Chúc sẽ khiến bạn mê mẩn quên lối về bởi khung cảnh thanh bình hiếm có.</p>
                    <p>Nơi đây được World Travel Award - Giải thưởng du lịch danh giá hàng đầu thế giới bình chọn là <span>“Điểm đến du lịch văn hoá hàng đầu châu Á”</span> năm 2023</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tamchuc-news pr">
        <div class="container">
            <div class="box-title flex-center pr">
                <h2 class="flex-center">Tin tức về Tam Chúc</h2>
            </div>
            <div class="des text-base text-red text-center">Cập nhật thông tin về khuyến mãi, các hoạt động, sự kiện diễn ra tại Khu du lịch Tam Chúc</div>
            <div class="news-list">
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-1.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-2.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-3.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-4.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-5.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-6.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
            </div>
            <div class="flex-center view-more">
                <button type="button" class="text-base">XEM THÊM</button>
            </div>
        </div>
    </div>
</main>