<main>
    <div class="box-breadcrumb pr">
        <img src="./assets/img/bre-3.jpg" alt="">
        <ul class="breadcrumb flex-center" data-aos="fade-up">
            <li class="breadcrumb-item"><a href="#">Tam chúc</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thư viện</li>
        </ul>
    </div>
    <div class="tamchuc-media bg pr">
        <div class="container">
            <div class="box-title sm flex-center pr">
                <h2 class="flex-center">Thư viện Video</h2>
            </div>
            <div class="des text-base text-red text-center">Ngắm nhìn những thước phim ấn tượng về Khu du lịch Tam Chúc</div>
            <div class="box-video">
                <iframe src="https://www.youtube.com/embed/4NX67JtTfmo?si=8hfUHnffwEQtyAIA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="tamchuc-library bg pr">
        <div class="box-title sm flex-center pr">
            <h2 class="flex-center">Tin tức hình ảnh</h2>
        </div>
        <div class="des text-base text-red text-center">Hoà mình vào không gian thanh tịnh, bình yên chốn thiền môn Tam Chúc</div>
        <ul class="tab nav flex-center">
            <li><a href="#all" data-toggle="tab" title="All" class="active">ALL</a></li>
            <li><a href="#khachxa" data-toggle="tab" title="KHÁCH XÁ">KHÁCH XÁ</a></li>
            <li><a href="#lucnhac" data-toggle="tab" title="LỤC NHẠC">LỤC NHẠC</a></li>
        </ul>
        <div class="tab-content">
            <div id="all" class="tab-pane fade show active">
                <div class="gallery">
                    <a href="./assets/img/img-library-1.jpg" data-fancybox="gallery"><img src="./assets/img/img-library-1.jpg" alt=""></a>
                    <a href="./assets/img/img-library-2.jpg" data-fancybox="gallery"><img src="./assets/img/img-library-2.jpg" alt=""></a>
                    <a href="./assets/img/img-library-3.jpg" data-fancybox="gallery"><img src="./assets/img/img-library-3.jpg" alt=""></a>
                    <a href="./assets/img/img-library-4.jpg" data-fancybox="gallery"><img src="./assets/img/img-library-4.jpg" alt=""></a>
                    <a href="./assets/img/img-library-5.jpg" data-fancybox="gallery"><img src="./assets/img/img-library-5.jpg" alt=""></a>
                    <a href="./assets/img/img-library-6.jpg" data-fancybox="gallery"><img src="./assets/img/img-library-6.jpg" alt=""></a>
                    <a href="./assets/img/img-library-7.jpg" data-fancybox="gallery"><img src="./assets/img/img-library-7.jpg" alt=""></a>
                    <a href="./assets/img/img-library-8.jpg" data-fancybox="gallery"><img src="./assets/img/img-library-8.jpg" alt=""></a>
                </div>
                <ul class="pagination flex-center">
                    <li class="page-item" style="display: none"><a class="page-link" href="#"><i class="icon icon-prev"></i></a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="icon icon-next"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</main>