<main>
    <div class="box-breadcrumb pr">
        <img src="./assets/img/bre-2.jpg" alt="">
        <ul class="breadcrumb flex-center" data-aos="fade-up">
            <li class="breadcrumb-item"><a href="#">Tam chúc</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
        </ul>
    </div>
    <div class="tamchuc-news pr">
        <div class="container">
            <div class="box-title flex-center pr">
                <h2 class="flex-center">Tin tức về Tam Chúc</h2>
            </div>
            <div class="des text-base text-red text-center">Cập nhật thông tin về khuyến mãi, các hoạt động, sự kiện diễn ra tại Khu du lịch Tam Chúc</div>
            <div class="news-list">
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-1.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-2.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-3.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-4.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-5.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
                <div class="item">
                    <a href="" title="" class="thumb"><img src="./assets/img/news-6.png" alt=""></a>
                    <h3><a href="" title="">Du lịch chùa Tam Chúc Hà Nam - Ngôi chùa lớn nhất thế giới</a></h3>
                    <div class="flex-lc">
                        <div class="time text-base font-semibold">23/01/2024</div>
                        <div class="view text-base font-semibold">1.558.416</div>
                    </div>
                    <div class="des text-base">Quần thể du lịch chùa Tam Chúc Hà Nam là điểm du lịch tâm linh đang nhận được rất nhiều sự quan tâm từ các bạn trẻ ...</div>
                    <a href="" title="" class="btn-pr">KHÁM PHÁ</a>
                </div>
            </div>
            <ul class="pagination flex-center">
                <li class="page-item"><a class="page-link" href="#"><i class="icon icon-prev"></i></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="icon icon-next"></i></a></li>
            </ul>
        </div>
    </div>
</main>