<main>
    <div class="box-breadcrumb pr">
        <img src="./assets/img/bre-6.jpg" alt="">
        <ul class="breadcrumb flex-center" data-aos="fade-up">
            <li class="breadcrumb-item"><a href="#">Tam chúc</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dịch vụ</li>
        </ul>
    </div>
    <div class="tamchuc-service pr">
        <div class="container">
            <div class="box-title flex-center pr">
                <h2 class="flex-center">Trải nghiệm dịch vụ</h2>
            </div>
            <div class="des text-base text-red text-center">Cùng trải nghiệm chốn tiên cảnh bồng lai, đắm mình trong thiên nhiên và tận hưởng những dịch vụ được phục vụ tận tình.</div>
            <div class="item flex">
                <div class="img-wrapper pr">
                    <img src="./assets/img/ve-du-thuyen.png" alt="">
                </div>
                <div class="content">
                    <div class="info">
                        <h3>Vé Du thuyền</h3>
                        <ul class="text-base">
                            <li>01 Vé du thuyền từ Trung tâm Hội nghị Quốc tế Vesak - Bến thuyền Tam Quan Nội</li>
                            <li>01 vé xe điện/bus/thuyền từ Tam Quan Nội – Vesak</li>
                        </ul>
                    </div>
                    <div class="flex-lc">
                        <div class="price text-red">
                            <h5 class="text-base font-weight-normal mb-0">Mùa cao điểm</h5>
                            <p>2700.000VNĐ</p>
                        </div>
                        <div class="price text-red">
                            <h5 class="text-base font-weight-normal mb-0">Mùa thấp điểm</h5>
                            <p>230.000VNĐ</p>
                        </div>
                        <button type="button" class="btn-pr">KHÁM PHÁ</button>
                    </div>
                </div>
            </div>
            <div class="item flex">
                <div class="img-wrapper pr">
                    <img src="./assets/img/du-thuyen-tron-goi.png" alt="">
                </div>
                <div class="content">
                    <div class="info">
                        <h3>Du thuyền - trọn gói</h3>
                        <ul class="text-base">
                            <li>01 vé du thuyền Cao cấp + Trà bánh trên thuyền + Chiều ra đi xe điện/bus/thuyền;</li>
                            <li>01 vé xe điện tham quan chùa Ba Sao;</li>
                            <li>Được đặc quyền ghé Đình Tam Chúc vào mua cao điểm và ghé thêm Đền Mẫu vào mùa thấp điểm;</li>
                            <li>Hướng dẫn viên thuyết minh trên thuyền.    </li>
                        </ul>
                    </div>
                    <div class="flex-lc">
                        <div class="price text-red">
                            <h5 class="text-base font-weight-normal mb-0">Mùa cao điểm</h5>
                            <p>350.000VNĐ</p>
                        </div>
                        <div class="price text-red">
                            <h5 class="text-base font-weight-normal mb-0">Mùa thấp điểm</h5>
                            <p>250.000VNĐ</p>
                        </div>
                        <button type="button" class="btn-pr">KHÁM PHÁ</button>
                    </div>
                </div>
            </div>
            <div class="item flex">
                <div class="img-wrapper pr">
                    <img src="./assets/img/combo-hoan-hao.png" alt="">
                </div>
                <div class="content">
                    <div class="info">
                        <h3>Combo hoàn hảo</h3>
                        <ul class="text-base">
                            <li>01 Vé du thuyền từ Trung tâm Hội nghị Quốc tế Vesak - Bến thuyền Tam Quan Nội và 01 vé xe điện/bus/thuyền từ Tam Quan Nội – Vesak;</li>
                            <li>01 vé xe điện khứ hồi Khách xá - Chùa Cổ Ba Sao;</li>
                            <li>01 suất buffet trưa tại nhà hàng.</li>
                        </ul>
                    </div>
                    <div class="flex-lc">
                        <div class="price text-red">
                            <h5 class="text-base font-weight-normal mb-0">Mùa cao điểm</h5>
                            <p>450.000VNĐ</p>
                        </div>
                        <div class="price text-red">
                            <h5 class="text-base font-weight-normal mb-0">Mùa thấp điểm</h5>
                            <p>450.000VNĐ</p>
                        </div>
                        <button type="button" class="btn-pr">KHÁM PHÁ</button>
                    </div>
                </div>
            </div>
            <div class="item flex">
                <div class="img-wrapper pr">
                    <img src="./assets/img/ve-xe-dien.png" alt="">
                </div>
                <div class="content">
                    <div class="info">
                        <h3>Vé du thuyền + xe điện chùa Cổ  </h3>
                        <ul class="text-base">
                            <li>01 Vé du thuyền từ Trung tâm Hội nghị Quốc tế Vesak - Bến thuyền Tam Quan Nội và 01 vé xe điện/bus/thuyền từ Tam Quan Nội – Vesak;</li>
                            <li>01 vé xe điện khứ hồi khách xá - Chùa Cổ Ba Sao. </li>
                        </ul>
                    </div>
                    <div class="flex-lc">
                        <div class="price text-red">
                            <h5 class="text-base font-weight-normal mb-0">Mùa cao điểm</h5>
                            <p>300.000VNĐ</p>
                        </div>

                        <button type="button" class="btn-pr">KHÁM PHÁ</button>
                    </div>
                </div>
            </div>
            <ul class="pagination flex-center">
                <li class="page-item" style="display: none"><a class="page-link" href="#"><i class="icon icon-prev"></i></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="icon icon-next"></i></a></li>
            </ul>
        </div>
    </div>
</main>