<main>
    <div class="box-breadcrumb pr">
        <img src="./assets/img/bre-4.jpg" alt="">
        <ul class="breadcrumb flex-center">
            <li class="breadcrumb-item"><a href="#">Tam chúc</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tiện ích</li>
        </ul>
    </div>
    <div class="tamchuc-tienich bg pr">
        <div class="container">
            <div class="box-title sm flex-center pr">
                <h2 class="flex-center">Tiện ích</h2>
            </div>
            <div class="slider-tienich">
                <div class="item">
                    <h2>Du thuyền VIP</h2>
                    <div class="des">Du thuyền VIP là một trong những dịch vụ được đánh giá cao nhất vì không chỉ là phương tiện vận chuyển, mà bạn còn được thưởng thức trà và bánh ngọt hảo hạng ngay trên du thuyền, thưởng thức những ly trà ngon, đắm mình trong bức tranh thiên nhiên hùng vĩ trên hồ Lục Nhạc, lắng nghe về những truyền thuyết thú vị về nơi này.</div>
                    <div class="img-list">
                        <a href="./assets/img/img-duthuyen-1.png" data-fancybox="gallery"><img src="./assets/img/img-duthuyen-1.png" alt=""></a>
                        <a href="./assets/img/img-duthuyen-2.png" data-fancybox="gallery"><img src="./assets/img/img-duthuyen-2.png" alt=""></a>
                        <a href="./assets/img/img-duthuyen-3.png" data-fancybox="gallery"><img src="./assets/img/img-duthuyen-3.png" alt=""></a>
                        <a href="./assets/img/img-duthuyen-4.png" data-fancybox="gallery"><img src="./assets/img/img-duthuyen-4.png" alt=""></a>
                        <a href="./assets/img/img-duthuyen-5.png" data-fancybox="gallery"><img src="./assets/img/img-duthuyen-5.png" alt=""></a>
                    </div>
                </div>
                <div class="item">
                    <h2>Ẩm thực</h2>
                    <div class="des">Với hệ thống nhà hàng phục vụ món chay và món mặn, trong nhà, ngoài trời hoặc trong nhà hàng nổi lung linh trên hồ Lục Nhạc, sẽ mang lại những trải nghiệm thú vị cho chuyến đi dài của bạn.</div>
                    <div class="img-list">
                        <a href="./assets/img/img-food-1.png" data-fancybox="gallery-food"><img src="./assets/img/img-food-1.png" alt=""></a>
                        <a href="./assets/img/img-food-2.png" data-fancybox="gallery-food"><img src="./assets/img/img-food-2.png" alt=""></a>
                        <a href="./assets/img/img-food-3.png" data-fancybox="gallery-food"><img src="./assets/img/img-food-3.png" alt=""></a>
                        <a href="./assets/img/img-food-4.png" data-fancybox="gallery-food"><img src="./assets/img/img-food-4.png" alt=""></a>
                        <a href="./assets/img/img-food-5.png" data-fancybox="gallery-food"><img src="./assets/img/img-food-5.png" alt=""></a>
                    </div>
                </div>
                <div class="item">
                    <h2>Khách xá Tam Chúc</h2>
                    <div class="des">Khách sạn Tam Chúc với thiết kế tinh tế và thanh lịch, mang dáng vẻ kiến trúc Đông Dương, du khách sẽ được đắm mình trong không gian yên bình của quần thể văn hóa tâm linh Tam Chúc, chữa lành với trải nghiệm độc đáo tại khuôn viên khách xá.</div>
                    <div class="mb-4">
                        <p>Khách xá có 156 phòng với 5 loại phòng:</p>
                        <ul>
                            <li>• Superior</li>
                            <li>• Deluxe Twin</li>
                            <li>• Deluxe Triple</li>
                            <li>• Deluxe Family</li>
                            <li>• President Suite</li>
                        </ul>
                    </div>
                    <div class="price">
                        <h4>GIÁ DỊCH VỤ LƯU TRÚ (VNĐ: ĐỒNG)</h4>
                        <div class="note">* Mùa cao điểm (Từ ngày 15.01 đến ngày 04.05.2024)</div>
                        <div class="table">
                            <img src="./assets/img/price-khach-xa.png" alt="">
                        </div>
                        <div class="note">* Mùa thấp điểm (Từ ngày 05.05 đến ngày 01.01.2025)</div>
                        <div class="table">
                            <img src="./assets/img/price-khach-xa-2.png" alt="">
                        </div>
                    </div>
                    <div class="img-list">
                        <a href="./assets/img/img-kx-1.png" data-fancybox="gallery-kx"><img src="./assets/img/img-kx-1.png" alt=""></a>
                        <a href="./assets/img/img-kx-2.png" data-fancybox="gallery-kx"><img src="./assets/img/img-kx-2.png" alt=""></a>
                        <a href="./assets/img/img-kx-3.png" data-fancybox="gallery-kx"><img src="./assets/img/img-kx-3.png" alt=""></a>
                        <a href="./assets/img/img-kx-4.png" data-fancybox="gallery-kx"><img src="./assets/img/img-kx-4.png" alt=""></a>
                        <a href="./assets/img/img-kx-5.png" data-fancybox="gallery-kx"><img src="./assets/img/img-kx-5.png" alt=""></a>
                    </div>
                </div>
                <div class="item">
                    <h2>Hội nghị - Hội thảo</h2>
                    <div class="des">
                        <p>Khu du lịch Tam Chúc có 3 phòng hội nghị với sức chứa từ 100 đến 1000 người. Các phòng họp với vị trí đắc địa trên tầng cao với tầm nhìn ấn tượng ra hồ Lục Nhạc và được trang bị âm thanh, ánh sáng, internet tốc độ cao, màn hình led hiện đại sẽ là lựa chọn tốt cho các sự kiện của khách hàng lớn.</p>
                        <p>Khu du lịch Tam Chúc đã tổ chức Lễ kỷ niệm Ngày Vesak Liên Hợp Quốc 2019. Với đội ngũ nhân viên chuyên nghiệp và giàu kinh nghiệm, hứa hẹn mang lại những trải nghiệm tốt nhất cho khách hàng.</p>
                    </div>
                    <div class="price">
                        <h4>1. GIÁ DỊCH VỤ</h4>
                        <div class="table">
                            <img src="./assets/img/price-hoi-nghi.png" alt="">
                        </div>
                        <h4>2. DỊCH VỤ BAO GỒM</h4>
                        <p>. Dịch vụ bao gồm: Âm thanh, ánh sáng hội thảo, hoa trang trí (bục phát biểu & bàn đại biểu), máy chiếu/màn chiếu hoặc màn hình led, bảng Flipchart, bút viết bảng, 1 chai nước lọc 350ml/người/buổi;</p>
                        <p>. Giá trên đã bao gồm VAT và phí dịch vụ;</p>
                        <p>
                            . Thời gian sử dụng: 
                            <span>+ Nửa ngày: 4 tiếng.</span>
                            <span>+ Full ngày: 8 tiếng.</span>
                        </p>
                        <p>
                            Nếu quá thời gian trên sẽ áp dụng tính phụ thu:
                            <span>+ Đối với Hội trường Thủy Đình & Cát Tường phí phụ thu: 2.000.000vnđ/giờ;</span>
                            <span>+ Đối với Hội trường An Nhiên/Tứ Ân phí phụ thu: 1.000.000vnđ/giờ</span>
                        </p>
                        <p>
                            Chính sách ưu đãi:
                            <span>+ Giảm 20% chi phí Phòng hội nghị hội thảo cho các đơn vị thuộc đối tượng Lữ hành, khách Corp;</span>
                            <span>+ Giảm 50% chi phí Phòng hội nghị cho những khách đặt dịch vụ tiệc đi kèm, thực đơn tối thiểu từ 300.000vnđ/suất trở lên;</span>
                            <span>+ Đối với các đoàn từ 100 khách trở lên, sử dụng thực đơn tối thiểu từ 400.000vnđ/suất sẽ hỗ trợ giảm 20% giá vé du thuyền trọn gói vào mùa cao điểm và giảm 50% giá vé du thuyền trọn gói vào mùa thấp điểm</span>
                        </p>
                    </div>
                    <div class="img-list">
                        <a href="./assets/img/img-hoinghi-1.png" data-fancybox="gallery-hoinghi"><img src="./assets/img/img-hoinghi-1.png" alt=""></a>
                        <a href="./assets/img/img-hoinghi-2.png" data-fancybox="gallery-hoinghi"><img src="./assets/img/img-hoinghi-2.png" alt=""></a>
                        <a href="./assets/img/img-hoinghi-3.png" data-fancybox="gallery-hoinghi"><img src="./assets/img/img-hoinghi-3.png" alt=""></a>
                        <a href="./assets/img/img-hoighi-4.png" data-fancybox="gallery-hoinghi"><img src="./assets/img/img-hoighi-4.png" alt=""></a>
                        <a href="./assets/img/img-hoinghi-5.png" data-fancybox="gallery-hoinghi"><img src="./assets/img/img-hoinghi-5.png" alt=""></a>
                    </div>
                </div>
                <div class="item">
                    <h2>Tiện ích khác</h2>
                    <div class="content">
                        <h4>Xe điện</h4>
                        <p>Đối với khách tham quan Chùa Ba Sao sẽ được đưa đến Chùa Ba Sao bằng xe điện tại trạm xe điện gần nhà khách.</p>
                        <br>
                        <h4>Nhà hàng Hỷ Lạc</h4>
                        <p>Nhà hàng là các du thuyền VIP neo đậu trên hồ Lục Nhạc, chỉ mở đèn từ 5 giờ chiều trở đi.</p>
                        <p>Tại đây, thực khách không chỉ thưởng thức các món ngon mà còn đắm mình trong thiên nhiên lung linh vào buổi tối, thưởng thức các tiết mục biểu diễn của những nhạc cụ dân tộc trên du thuyền.</p>
                        <p>Với sức chứa lên đến 50 người, đây sẽ là nơi tuyệt vời cho các cuộc họp cần sự riêng tư hoặc chỉ muốn thay đổi không gian ẩm thực một cách độc đáo.</p>
                        <br>
                        <h4>Chợ quê</h4>
                        <p>Về nơi thiền địa, du khách cũng có thể tìm thấy kỷ niệm về một chợ quê với các trò chơi dân gian và quà quê mang đậm phong cách dân gian khiến nhiều người xúc động. Chợ quê Tam Chúc - nơi lưu giữ văn hóa truyền thống nằm đối diện nhà khách, với các gian hàng đầy màu sắc, trò chơi có phong cách dân gian. Đây cũng là nơi tổ chức các buổi tiệc ngoài trời, BBQ, trao đổi văn hóa, các hoạt động nghệ thuật dân gian.</p>
                        <br>
                        <h4>Các hoạt động khác</h4>
                        <p>Đến khu du lịch Tam Chúc, khách hàng có thể trải nghiệm các hoạt động như Đứng trên tấm ván trượt nước, đạp thuyền kayak, thiền địa, đạp xe, xây dựng đội...</p>
                    </div>
                    <div class="img-list">
                        <a href="./assets/img/img-tienich-1.png" data-fancybox="gallery-tienich"><img src="./assets/img/img-tienich-1.png" alt=""></a>
                        <a href="./assets/img/img-tienich-2.png" data-fancybox="gallery-tienich"><img src="./assets/img/img-tienich-2.png" alt=""></a>
                        <a href="./assets/img/img-tienich-3.png" data-fancybox="gallery-tienich"><img src="./assets/img/img-tienich-3.png" alt=""></a>
                        <a href="./assets/img/img-tienich-4.png" data-fancybox="gallery-tienich"><img src="./assets/img/img-tienich-4.png" alt=""></a>
                        <a href="./assets/img/img-tienich-5.png" data-fancybox="gallery-tienich"><img src="./assets/img/img-tienich-5.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</main>