:root{
  --BeautiqueDisplay-Regular: BeautiqueDisplay-Regular, sans-serif;
  --BeautiqueDisplay-LightItalic: BeautiqueDisplay-LightItalic, sans-serif;
  --BeautiqueDisplay-Medium: BeautiqueDisplay-Medium, sans-serif;
  --red: #741416;
}
body{
  background:#731516 url("#{$img-path}/Banner_Bg.jpg");
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
body.modal-open{overflow: hidden;}

@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
@mixin hill{
  content: "";
  width: 100%; height: vw(488px);
  background: url("#{$img-path}/Hill.png") no-repeat 0 0/contain;
  position: absolute; left: 0;
}
a{transition: .25s;}
a:hover{text-decoration: none;}

@font-face {
  font-family: BeautiqueDisplay-Regular;
  src: url('#{$font-path}/BeautiqueDisplay-Regular.otf');
}

@font-face {
  font-family: BeautiqueDisplay-LightItalic;
  src: url('#{$font-path}/BeautiqueDisplay-LightItalic.otf');
}

@font-face {
  font-family: BeautiqueDisplay-Medium;
  src: url('#{$font-path}/BeautiqueDisplay-Medium.otf');
}

//header
header{
  width: 100%; position: absolute; top: 0; z-index: 99;
  &.scroll{
    position: fixed;
    .navbar{padding: 18px; background: url("#{$img-path}/Banner_Bg.jpg") no-repeat 0 0/cover;}
  }
}
.navbar{
  height: 100%; padding: 72px 0;
  display: flex; align-items: center; justify-content: center;
  margin: 0 auto;
  border-radius: 0; border: none; transition: .4s;
  .logo{width: 280px; position: absolute; left: 50%; transform: translateX(-50%); top: 0; z-index: 99;}
  .navbar-toggler{display: none;}
  .language .selected{
    width: 70px; height: 29px; padding: 2px;
    border-radius: 9999px;
    background: linear-gradient(to right, #F5C374,#FFF4BD);
    position: relative;
    &::after{
      content: "";
      width: 5px; height: 7px;
      background: url("#{$img-path}/arrow-right.svg") no-repeat;
      position: absolute; top: 50%; transform: translateY(-50%); right: 8px;
    }
  }
  .language{
    position: relative; z-index: 99;
    &.active .list{opacity: 1; z-index: 2;}
    .list{
      width: 110px;
      padding: 12px 0;
      background: #fff; border-radius: 6px;
      position: absolute; z-index: -1; opacity: 0;
      button{padding: 7px 18px;}
      a{color: #000; font-size: 14px;}
      a:focus{outline: none;}
      li:hover{background: #f7f7f7;}
    }
  }
}
.navbar-collapse{
  padding: 0; flex-grow: initial; flex-basis: auto;
  .close{display: none;}
}
.navbar-nav{
  margin: 0; padding-right: 56px; align-items: center; flex-direction: row;
  > li{margin: 0 20px; position: relative;}
  > li:hover .sub-menu{opacity: 1; z-index: 2; visibility: visible; transform: translateY(0);}
  > li:nth-child(4){margin-left: 320px;}
  > li > a{display: flex; align-items: center; padding: 20px 0; font-size: 14px; font-weight: 600; color: #fff; position: relative;}
  > li:hover > a{color: #EDD77F;}
  .active{color: #EDD77F;}
  .arrow-down{
    width: 6px; height: 4px; display: block; margin-left: 5px;
    background: url("#{$img-path}/arrow-down.svg") no-repeat;
  }
  .sub-menu{
    width: 182px;
    padding: 13px 0;
    background: #fff; border-radius: 6px;
    position: absolute; left: -10px; opacity: 0; visibility: hidden; z-index: -1; transform: translateY(15px); transition: .3s;
    a{display: block; padding: 0 20px; line-height: 34px; color: #110A01;}
    a:hover{background: #f7f7f7;}
  }
}
.category .navbar{padding: 18px 0;}
//main
main{}
.tamchuc-slider{
  padding: 42px 42px 0;
  &::after{
    content: "";
    width: 100%; height: vw(666px);
    background: url("#{$img-path}/Banner_Cloud.png") no-repeat 0 0/contain;
    position: absolute; bottom: vw(-174px); left: 0; z-index: 2;
  }
  .slick-slide{
    position: relative;
    img{width: 100%;}
  }
  .text{
    width: 100%; height: 100%; text-align: center; color: #fff; padding-bottom: 9%;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    position: absolute; top: 0px; left: 0;
  }
  .stork{
    position: absolute; z-index: 3;
    &--1{width: vw(302px); height: vw(107px); background: url("#{$img-path}/stork-1.svg") no-repeat 0 0/contain; left: vw(18px); top: vw(360px);}
    &--2{width: vw(181px); height: vw(186px); background: url("#{$img-path}/stork-2.svg") no-repeat 0 0/contain; right: vw(90px); top: vw(972px);}
    &--3{width: vw(175px); height: vw(194px); background: url("#{$img-path}/stork-3.svg") no-repeat 0 0/contain; right: vw(185px); top: vw(766px);}
  }
  .img-mobile{display: none;}
  h4{font: 50px/70px var(--BeautiqueDisplay-Regular);}
  h1{margin-bottom: vw(-12px); font: 115px/160px var(--BeautiqueDisplay-Regular);}
  p{font-size: 16px; font-weight: 600;}
}
.tamchuc-story{
  padding-bottom: 75px;
  background: url("#{$img-path}/bg.jpg");
  background-size: contain;
  &::before{
    @include hill; top: vw(155px);
  }
  .img-wrapper{
    margin: 30px 0 40px;
    img{display: block; margin: 0 auto;}
  }
  .intro{max-width: 1016px; margin: 0 auto 35px; color: #741416;}
  .quote{
    width: 100%; color: #fff; padding-left: 78px;
    .text{
      padding-left: 92px; font: 20px/28px var(--BeautiqueDisplay-LightItalic);
      p:nth-child(2){margin: 8px 0 0 50px;}
      &::before{
        content: "";
        width: 60px; height: 60px;
        background: url("#{$img-path}/quote.svg") no-repeat 0 0/contain;
        display: block; position: absolute; left: 0; top: 50%; transform: translateY(-50%);
      }
    }
  }
  .booking{
    width: 100%;
    position: absolute;
    bottom: -100%; opacity: 0; z-index: -1; transition: .5s;
  }
  .btn-booking{
    font-size: 16px; line-height: 24px; color: #fff;
    position: absolute; top: 40%; right: 76px;
    &:hover{
      color: #FFF4BD;
      .arrow-right{filter: grayscale(0);}
    }
    .arrow-right{
      width: 15px; height: 10px; margin-left: 8px;
      background: url("#{$img-path}/arrow-right1.svg") no-repeat 0 0/contain;
      filter: grayscale(1);
    }
  }
}
.box-order{
  width: 100%; height: 141px;
  background: url("#{$img-path}/bg-1.svg") no-repeat 0 0/100% 100%;
  position: relative; overflow: hidden; z-index: 2;
  &.active{
    .quote{display: none;}
    .booking{position: relative; bottom: 0; z-index: 2; opacity: 1;}
  }
  .item{padding: 0 36px; margin: 0 12px; height: 70px; border: 1px solid #FFF4BD;}
  h5{margin-bottom: 2px; font-size: 14px; line-height: 21px; color: #fff; font-weight: 300;}
  .date{width: auto; font-size: 16px; font-weight: 600; color: #fff;}
  select{
    background: none; border: none; color: #fff;
    option{color: #000;}
    &:focus{outline: none;}
  }
  input{width: 110px; border: none; background: none; color: #fff;}
  input::placeholder{color: #fff;}
  input:focus{outline: none;}
  .btn-search{
    padding: 4px 20px 4px 4px;
    color: #741416; text-transform: uppercase;
    border-radius: 9999px; border: 2px solid #FEB241;
    background: linear-gradient(#FFF4BD,#F5C374);
    .icon{
      width: 35px; height: 35px;
      border-radius: 50%; display: block;
      background: #741416 url("#{$img-path}/search.svg") no-repeat center center;
    }
  }
  .icon{margin-right: 15px;}
}
.box-title{
  margin-bottom: 30px; flex-wrap: nowrap;
  &::after,&::before{
    content: "";
    width: 163px; height: 76px; display: block;
    background: url("#{$img-path}/clound-1.png") no-repeat 0 0/contain;
  }
  &::before{transform: rotateY(180deg);}
  &.sm h2{width: 392px;}
  h2{
    width: 538px; height: 77px; margin: 0 20px;
    background: url("#{$img-path}/bg-title.svg") no-repeat 0 0/100% 100%;
    font: 40px/60px var(--BeautiqueDisplay-LightItalic);
    color: #741416;
  }
}
.tamchuc-utilities{
  padding: 90px 0 135px;
  &::after{
    content: "";
    width: 100%; height: vw(685px);
    background: url("#{$img-path}/Tienich_Cloud.png") no-repeat 0 0/contain;
    position: absolute; bottom: vw(54px); z-index: -1;
  }
  .utilities{margin: 0 -13px;}
  .slick-list{padding-bottom: 20px;}
  .item{
    padding: 0 13px;
    img{width: 100%;}
  }
  .box-title{
    margin-bottom: 55px;
    &::after,&::before{
      background: url("#{$img-path}/clound-2.png") no-repeat 0 0/contain;
    }
    h2{
      width: 409px;
      background: url("#{$img-path}/bg-title2.svg") no-repeat 0 0/contain;
      color: #FFF4BD;
    }
  }
  .img-wrapper{
    margin-bottom: 10px; position: relative;
  }
  .content{
    padding: 16px 26px;
    background: url("#{$img-path}/bg-corner.svg") no-repeat 0 0/100% 100%;
    text-align: center;
    p{
      min-height: 63px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h4{margin-bottom: 4px;}
    .btn-pr{width: 177px; margin: 20px auto -34px; border: 1px solid #f5c374;}
  }
  .slick-arrow{top: 40%;}
}
.tamchuc-service{
  padding: 84px 0 116px;
  background: url("#{$img-path}/bg.jpg");
  .des{margin-bottom: 55px;}
  &::before{
    @include hill; top: 25px;
  }
  &::after{
    content: "";
    width: 100%; height: vw(450px);
    background: url("#{$img-path}/Dichvu_Bg.jpg") no-repeat 0 0/contain;
    position: absolute; bottom: 0;
  }
  .tab-content{z-index: 10;}
  .item{
    margin-bottom: 26px;
    justify-content: space-between; flex-wrap: nowrap;
    .img-wrapper{width: 496px; padding: 1px; background: url("#{$img-path}/bg-line.svg") no-repeat 0 0/contain;}
    .info{
      margin-bottom: 22px;
      padding-bottom: 15px;
      border-bottom: 1px solid var(--red);
    }
    p span{color: var(--red); font-family: "Montserrat", sans-serif;}
    ul{
      min-height: 146px;
      li{padding-left: 24px; position: relative;}
      li::before{
        content: "";
        width: 4px; height: 4px;
        background: var(--red); border-radius: 50%;
        position: absolute; left: 10px; top: 10px;
      }
    }
    .content{width: 704px; padding: 30px 40px; margin-left: 20px; background: url("#{$img-path}/bg-2.png") no-repeat 0 0/100% 100%; color: var(--red);}
    h3{
      margin-bottom: 5px; font: 28px/42px var(--BeautiqueDisplay-Regular);
      white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
    }
    .address{margin-bottom: 10px; padding-left: 28px; background: url("#{$img-path}/address.svg") no-repeat top left;}
    .phone{padding-left: 28px; background: url("#{$img-path}/phone.svg") no-repeat top left; color: var(--red);}
  }
  .box-rating{margin-bottom: 40px;}
  .rating{
    width: 160px; height: 24px; margin-right: 15px;
    .value{height: 100%; background: url("#{$img-path}/star.png");}
  }
  .price{
    margin-right: 35px;
    h5{text-transform: uppercase;}
    p{font: 25px/38px var(--BeautiqueDisplay-Regular);}
  }
  .btn-pr{
    width: 180px; margin-top: 8px;
    margin-left: auto;
    border: 1px solid #FFE878;
  }
  .btn-favourite{
    width: 24px; height: 21px;
    background: url("#{$img-path}/heart.svg") no-repeat 0 0/contain;
    position: absolute; top: 17px; left: 17px;
  }
}
.tamchuc-why{
  width: 100%; height: 250px; display: flex; align-items: center;
  background: url("#{$img-path}/Why_BG.jpg") no-repeat left center;
  color: #fff;
  .title{
    width: 218px; margin-bottom: 0;
    font: 28px/42px var(--BeautiqueDisplay-LightItalic);
    text-align: center; color: #fff;
    span{display: block; font: 40px/60px var(--BeautiqueDisplay-Medium);}
  }
  .box-text{
    width: calc(100% - 218px); padding-left: 58px; font-style: italic;
    span{font-weight: 600;}
    >*+*{margin-top: 20px;}
  }
}
.tamchuc-news{
  padding: 72px 0 185px; background: url("#{$img-path}/bg.jpg");
  &::before{
    @include hill; top: -10px;
  }
  &::after{
    content: "";
    width: 100%; height: vw(450px);
    background: url("#{$img-path}/Dichvu_Bg.jpg") no-repeat 0 0/contain;
    position: absolute; bottom: 0;
  }
  .news-list{margin-top: 54px;}
  .view-more{margin-top: 50px;}
}
.tab{
  margin-bottom: 55px;
  li{margin: 4px;}
  a{display: inline-block; padding: 7px 21px; font-size: 16px; line-height: 24px; color: #741416; border: 1px solid #741416; border-radius: 9999px;}
  .active{font-weight: 700; color: #FFF4BD; background: #741416;}
}
.news-list{
  display: grid; grid-template-columns: repeat(3,1fr);
  grid-column-gap: 26px;
  grid-row-gap: 44px;
  color: var(--red);
  .thumb{display: block; padding: 1px; background: url("#{$img-path}/bg-line.svg") no-repeat 0 0/contain;}
  .thumb img{width: 100%;}
  .des{padding-top: 14px; margin-top: 10px; border-top: 1px solid var(--red);}
  h3{margin: 15px 0 6px; font: 20px/30px var(--BeautiqueDisplay-Medium);}
  h3 a{color: var(--red);}
  h3 a:hover{color: #290607;}
  .time{padding-left: 28px; background: url("#{$img-path}/date-1.svg") no-repeat left center;}
  .view{margin-left: 30px; padding-left: 28px; background: url("#{$img-path}/view.svg") no-repeat left center;}
  .btn-pr{width: 184px; margin: 20px auto 0;}
}

//category
.tamchuc-story-ins{
  padding: 100px 0 62px;
  &::after{
    @include hill; bottom: 80px;
  }
  .content{
    width: calc(100% - 280px); padding-left: 36px; line-height: 21px; color: var(--red);
    >*+*{margin-top: 24px;}
    p span{font-weight: 500; font-style: italic;}
  }
  .pagoda{
    justify-content: space-between; flex-wrap: nowrap;
    &__1{width: 817px;}
    &__2{width: 359px;}
    p{margin-top: 15px; color: var(--red);}
  }
}
.tamchuc-gallery{
  .box-gallery{padding: 36px 0;}
  .gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 22px;
    justify-content: center;
  }
  .img-full img{width: 100%;}
}
.tamchuc-media{
  padding: 75px 0 0;
  &::before{@include hill; top: 0;}
  .box-video{
    width: 100%; height: 688px; margin-top: 46px;
    iframe{width: 100%; height: 100%; object-fit: cover;}
  }
}
.tamchuc-library{
  padding: 80px 0 154px;
  &::before{@include hill; top: -100px;}
  &::after{
    content: "";
    width: 100%; height: vw(450px);
    background: url("#{$img-path}/Dichvu_Bg.jpg") no-repeat 0 0/contain;
    position: absolute; bottom: -10px;
  }
  .tab-content{position: relative; z-index: 10;}
  .tab{margin: 15px 0 40px; position: relative; z-index: 4;}
  .gallery{
    display: grid; grid-template-columns: repeat(4,1fr);
    img{width: 100%;}
  }
}
.news-detail{
  color: var(--red); margin-bottom: 60px; padding-bottom: 22px; border-bottom: 1px solid var(--red);
  .title{margin-bottom: 5px; font: 32px/48px var(--BeautiqueDisplay-Regular); font-style: italic;}
  article{
    margin-top: 20px; padding-top: 20px; border-top: 1px solid var(--red);
  }
  .time{
    padding-left: 28px;
    background: url('#{$img-path}/date-1.svg') no-repeat left center;
  }
  .view{
    margin-left: 26px;
    padding-left: 28px;
    background: url('#{$img-path}/view.svg') no-repeat left center;
  }
  .social{
    margin-left: 10px;
    >*+*{margin-left: 10px;}
    a{width: 30px; height: 30px; border-radius: 50%; border: 1px solid var(--red); font-size: 0;}
    a:hover{@include hover;}
    .facebook{background: url("#{$img-path}/face-1.svg") no-repeat center center;}
    .instagram{background: url("#{$img-path}/ins-1.svg") no-repeat center center;}
  }
  h5{margin-bottom: 0; font-size: 16px; line-height: 24px; font-weight: 600;}
}
.tamchuc-tienich{
  padding: 75px 0 130px;
  .box-title{margin-bottom: 55px;}
  &::before{@include hill; top: 40px;}
  &::after{
    content: "";
    width: 100%; height: vw(450px);
    background: url("#{$img-path}/Dichvu_Bg.jpg") no-repeat 0 0/contain;
    position: absolute; bottom: -10px;
  }
  h2{padding-left: 5px; font: 40px/56px var(--BeautiqueDisplay-LightItalic); color: var(--red);}
  .item{color: var(--red);}
  .des{
    margin: 10px 0 20px; max-width: 75%; line-height: 21px; color: var(--red);
    >*+*{margin-top: 24px;}
  }
  .img-list{
    display: grid; grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin-top: 40px;
    a:nth-child(1){grid-row: 1/3;}
  }
  .table{margin: 16px 0 24px;}
  .price{
    padding-top: 16px; border-top: 1px solid var(--red);
    h4{margin-bottom: 8px; font-size: 14px; font-weight: 700;}
    .note{font-style: italic; font-weight: 300;}
    p{margin-bottom: 16px;}
    span{display: block; padding-left: 16px;}
  }
  .content{
    margin-top: 8px;
    h4{font-size: 14px; font-weight: 700;}
  }
  .slick-arrow{
    width: 40px; height: 40px;
    background: url('#{$img-path}/next-3.svg') no-repeat 0 0/contain;
    transform: translateY(0); top: 64px; z-index: 5;
  }
  .slick-next{right: 0;}
  .slick-prev{right: 52px; transform: translateY(0) rotate(180deg); left: inherit;}
}
.tamchuc-contact{
  padding-top: 110px; color: var(--red);
  &::before{@include hill; top: 0;}
  .col-left{width: 496px; padding-top: 36px;}
  .col-right{width: 708px; margin-left: auto;}
  a{color: var(--red);}
  form{
    width: 100%;
    padding: 36px;
    background: url('#{$img-path}/bg-form.svg') no-repeat 0 0/100% 100%;
    .form-row{
      justify-content: space-between;
      .form-group{width: 49%;}
    }
    h3{margin-bottom: 18px; font: 40px/56px var(--BeautiqueDisplay-LightItalic); color: #fff;}
    input,textarea{
      width: 100%; background: none; border: 1px solid #fff; color: #fff; border-radius: 5px; font-size: 16px;
      &::placeholder{color: #fff;}
    }
    input{height: 38px; padding: 0 15px;}
    textarea{padding: 15px; height: 286px;}
    input:focus{outline: none;}
    .btn-submit{
      width: 120px; height: 34px; margin: 0 auto;
      border-radius: 9999px;
      border: 1px solid rgba(#EDD77F,.5);
      color: #fff;
      &:hover{background: rgba(#EDD77F,.5);}
    }
  }
  .info{
    max-width: 360px; margin-left: auto; margin-right: 32px;
    >*+*{border-top: 1px solid var(--red);}
    > div{padding: 16px 28px;}
  }
  .map{
    margin-top: 60px; height: 500px;
    iframe{width: 100%; height: 100%; object-fit: cover;}
  }
  .address{background: url('#{$img-path}/address.svg') no-repeat left center;}
  .phone{background: url('#{$img-path}/phone.svg') no-repeat left center;}
  .email{background: url('#{$img-path}/email-1.svg') no-repeat left center;}
}
.ticket{
  position: fixed; right: 25px; top: 46%; z-index: 9;
  &:hover span{right: 120px; opacity: 1;}
  button{width: 108px; height: 108px; background: url("#{$img-path}/ticket.png") no-repeat 0 0/contain;}
  span{
    padding: 0 20px;
    background: #fff;
    border-radius: 9999px;
    box-shadow: 0 2px 3px #979797;
    font-size: 14px;
    line-height: 34px;
    white-space: nowrap;
    position: absolute; top: 40px; right: 0; opacity: 0; transition: .5s;
  }
}

footer{
  padding-top: 75px; color: #fff;
  h4{margin-bottom: 8px;}
  .logo{display: inline-block; margin-top: -55px;}
  ul{
    a{display: block; padding: 5px 0; color: #fff;}
  }
  ul.txt-xl{
    margin-top: -5px;
    >*+*{margin-top: 6px;}
  }
  .des{max-width: 392px; margin: 28px 0 20px; font-style: italic;}
  .award{
    width: 55px; height: 57px; display: block;
    background: url("#{$img-path}/awards.svg") no-repeat;
    font-size: 0;
  }
  .address{padding-left: 26px; background: url("#{$img-path}/address-1.svg") no-repeat left center;}
  .phone{margin: 8px 0; padding-left: 26px; background: url("#{$img-path}/phone-1.svg") no-repeat left center;}
  .email{padding-left: 26px; background: url("#{$img-path}/email.svg") no-repeat left center;}
  a{color: #fff;}
  a:hover{text-decoration: underline; color: #fff;}
  .bottom{
    padding: 13px 0; margin-top: 40px;
    background: #231F20;
  }
  .social{
    >*+*{margin-left: 8px;}
    a{width: 25px; height: 25px; border-radius: 50%; border: 1px solid #fff; font-size: 0;}
    .facebook{background: url("#{$img-path}/face.svg") no-repeat center center;}
    .youtube{background: url("#{$img-path}/youtube.svg") no-repeat center center;}
    .instagram{background: url("#{$img-path}/ins.svg") no-repeat center center;}
  }
  .copyright{max-width: 70%;}
}

.box-breadcrumb{
  margin-top: 97px;
  img{width: 100%;}
  &::after{
    content: "";
    width: 100%; height: vw(552px);
    background: url("#{$img-path}/bg-decor-bre.png") no-repeat 0 0/contain;
    position: absolute; bottom: vw(-156px); z-index: 2;
  }
  .breadcrumb{
    width: 100%; height: 100%;
    padding-top: 40px; margin: 0;
    position: absolute; top: 0; left: 0; background: none; z-index: 3;
    li:nth-child(1) a{display: block; margin: -20px 20px 0 0; font: 24px/36px var(--BeautiqueDisplay-Regular); color: #fff; font-style: italic;}
    li{font: 40px/60px var(--BeautiqueDisplay-Regular); color: #fff; font-style: italic;}
    .breadcrumb-item + .breadcrumb-item::before{color: #fff;}
  }
}
.title-dc{
  width: 280px; font: 40px/56px var(--BeautiqueDisplay-LightItalic); color: var(--red);
  &::after{
    content: "";
    width: 116px; height: 56px;
    background: url("#{$img-path}/decor-1.svg") no-repeat 0 0/contain;
    position: absolute; top: 48px; left: -45px;
  }
  span{display: block;}
  span:nth-child(2){margin-left: 86px;}
}
//uikit
.container{max-width: 1254px; position: relative; z-index: 3;}
.view-more{
  margin-top: 80px;
  button{
    padding-right: 32px;
    background: url('#{$img-path}/arrow-right-1.svg') no-repeat right center;
    color: var(--red);
  }
  button:hover{@include hover;}
}
.des{max-width: 1016px; margin: 0 auto;}
.pr{position: relative;}
button{
  padding: 0; background: none; cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}
.bg-white{background: #fff;}
.bg{background: url("#{$img-path}/bg.jpg")}
h2.title{
  margin-bottom: vw(75px);
  color: rgba(#000,.87);
  font-size: vw(80px);
  font-weight: 600;
}
.text-base{font-size: 16px; line-height: 24px;}
.txt-md{font-size: 18px; line-height: 24px;}
.txt-lg{font-size: 20px; line-height: 24px;}
.txt-xl{font-size: 24px; line-height: 36px;}
.text-red{color: #741416;}
.font-semibold{font-weight: 600;}
.font-bold{font-weight: 700;}
.font-light{font-weight: 300;}

.btn-pr{
  width: 220px;
  height: 40px;
  display: flex; align-items: center; justify-content: center;
  background: #741416;
  border: thin solid #EDD77F;
  color: #fff;
  border-radius: 9999px;
  font-weight: 700;
  font-size: 16px; line-height: 24px;
  &:hover{color: var(--red); background: #FFD595; border-color: #741416;}
}
.slick-arrow{
  width: 50px; height: 50px;
  font-size: 0;
  background: url("#{$img-path}/next.svg") no-repeat 0 0/contain;
  position: absolute; top: 50%; transform: translateY(-50%);
  &:hover{@include hover;}
}
.slick-next{right: -64px;}
.slick-prev{left: -64px; transform: translateY(-50%) rotate(180deg);}
.slick-dots{
  width: 100%;
  display: flex; justify-content: center;
  position: absolute; bottom: vw(68px);
  li{margin: 0 5px;}
  button{
    width: 10px; height: 10px; padding: 0;
    background: rgba(#fff,.4); border-radius: 50%;
    font-size: 0;
  }
  .slick-active button{background: #fff;}
}

.pagination{
  margin-top: 50px;
  li{margin: 0 5px;}
  .page-link{
    width: 40px; height: 40px; background: none;
    display: flex; align-items: center; justify-content: center;
    border-radius: 5px; border: 1px solid var(--red);
    font-size: 16px; line-height: 24px; color: var(--red);
  }
  .active .page-link{background: var(--red); color: #fff; border: none;}
  .icon{width: 10px; height: 15px; display: block; background: url("#{$img-path}/next-2.svg") no-repeat center center;}
  .icon-prev{transform: rotate(180deg);}
}

.daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 278px;
  max-width: none;
  padding: 0;
  margin-top: 7px;
  top: 100px;
  left: 20px;
  z-index: 3001;
  display: none;
  font-family: arial;
  font-size: 15px;
  line-height: 1em;
}

.daterangepicker:before, .daterangepicker:after {
  position: absolute;
  display: inline-block;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc;
}

.daterangepicker:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
}

.daterangepicker.opensleft:before {
  right: 9px;
}

.daterangepicker.opensleft:after {
  right: 10px;
}

.daterangepicker.openscenter:before {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.daterangepicker.openscenter:after {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.daterangepicker.opensright:before {
  left: 9px;
}

.daterangepicker.opensright:after {
  left: 10px;
}

.daterangepicker.drop-up {
  margin-top: -7px;
}

.daterangepicker.drop-up:before {
  top: initial;
  bottom: -7px;
  border-bottom: initial;
  border-top: 7px solid #ccc;
}

.daterangepicker.drop-up:after {
  top: initial;
  bottom: -6px;
  border-bottom: initial;
  border-top: 6px solid #fff;
}

.daterangepicker.single .daterangepicker .ranges, .daterangepicker.single .drp-calendar {
  float: none;
}

.daterangepicker.single .drp-selected {
  display: none;
}

.daterangepicker.show-calendar .drp-calendar {
  display: block;
}

.daterangepicker.show-calendar .drp-buttons {
  display: block;
}

.daterangepicker.auto-apply .drp-buttons {
  display: none;
}

.daterangepicker .drp-calendar {
  display: none;
  max-width: 270px;
}

.daterangepicker .drp-calendar.left {
  padding: 8px 0 8px 8px;
}

.daterangepicker .drp-calendar.right {
  padding: 8px;
}

.daterangepicker .drp-calendar.single .calendar-table {
  border: none;
}

.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
  color: #fff;
  border: solid black;
  border-width: 0 2px 2px 0;
  border-radius: 0;
  display: inline-block;
  padding: 3px;
}

.daterangepicker .calendar-table .next span {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.daterangepicker .calendar-table .prev span {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  min-width: 32px;
  width: 32px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
}

.daterangepicker .calendar-table {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #fff;
}

.daterangepicker .calendar-table table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #eee;
  border-color: transparent;
  color: inherit;
}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
  background-color: #fff;
  border-color: transparent;
  color: #999;
}

.daterangepicker td.in-range {
  background-color: #ebf4f8;
  border-color: transparent;
  color: #000;
  border-radius: 0;
}

.daterangepicker td.start-date {
  border-radius: 4px 0 0 4px;
}

.daterangepicker td.end-date {
  border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
  border-radius: 4px;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #357ebd;
  border-color: transparent;
  color: #fff;
}

.daterangepicker th.month {
  width: auto;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
  color: #999;
  cursor: not-allowed;
  text-decoration: line-through;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
  width: 50px;
  margin: 0 auto;
  background: #eee;
  border: 1px solid #eee;
  padding: 2px;
  outline: 0;
  font-size: 12px;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 4px auto 0 auto;
  line-height: 30px;
  position: relative;
}

.daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.daterangepicker .drp-buttons {
  clear: both;
  text-align: right;
  padding: 8px;
  border-top: 1px solid #ddd;
  display: none;
  line-height: 12px;
  vertical-align: middle;
}

.daterangepicker .drp-selected {
  display: inline-block;
  font-size: 12px;
  padding-right: 8px;
}

.daterangepicker .drp-buttons .btn {
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
}

.daterangepicker.show-ranges.single.rtl .drp-calendar.left {
  border-right: 1px solid #ddd;
}

.daterangepicker.show-ranges.single.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}

.daterangepicker.show-ranges.rtl .drp-calendar.right {
  border-right: 1px solid #ddd;
}

.daterangepicker.show-ranges.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}

.daterangepicker .ranges {
  float: none;
  text-align: left;
  margin: 0;
}

.daterangepicker.show-calendar .ranges {
  margin-top: 8px;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.daterangepicker .ranges li {
  font-size: 12px;
  padding: 8px 12px;
  cursor: pointer;
}

.daterangepicker .ranges li:hover {
  background-color: #eee;
}

.daterangepicker .ranges li.active {
  background-color: #08c;
  color: #fff;
}

/*  Larger Screen Styling */
@media (min-width: 564px) {
  .daterangepicker {
    width: auto;
  }

  .daterangepicker .ranges ul {
    width: 140px;
  }

  .daterangepicker.single .ranges ul {
    width: 100%;
  }

  .daterangepicker.single .drp-calendar.left {
    clear: none;
  }

  .daterangepicker.single .ranges, .daterangepicker.single .drp-calendar {
    float: left;
  }

  .daterangepicker {
    direction: ltr;
    text-align: left;
  }

  .daterangepicker .drp-calendar.left {
    clear: left;
    margin-right: 0;
  }

  .daterangepicker .drp-calendar.left .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .daterangepicker .drp-calendar.right {
    margin-left: 0;
  }

  .daterangepicker .drp-calendar.right .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .daterangepicker .drp-calendar.left .calendar-table {
    padding-right: 8px;
  }

  .daterangepicker .ranges, .daterangepicker .drp-calendar {
    float: left;
  }
}

@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto;
  }

  .daterangepicker .ranges {
    float: left;
  }

  .daterangepicker.rtl .ranges {
    float: right;
  }

  .daterangepicker .drp-calendar.left {
    clear: none !important;
  }
}

