@media (max-width: 1440px) {
  header.scroll .navbar{padding: 8px;}
  .navbar{
    padding: 52px 0;
    .logo{width: 220px;}
  }
  .navbar-nav{
    > li:nth-child(4){margin-left: 240px;}
  }
  .category .navbar{padding: 8px 0;}
  .tamchuc-slider{
    padding: 22px 22px 0;
    .text{padding-bottom: 0;}
    h4{font-size: 46px; line-height: 1.3;}
    h1{font-size: 105px; line-height: 1.4;}
    p{font-size: 15px;}
  }
  .tamchuc-media{
    .box-video{
      width: 82%; height: 500px; margin: 46px auto 0;
    }
  }
  .box-breadcrumb{margin-top: 77px;}
  .slick-next{right: -44px;}
  .slick-prev{left: -44px;}
}
@media (max-width: 1280px) {
  .tamchuc-utilities{
    .slick-arrow{top: inherit;}
  }
  .slick-arrow{top: inherit; transform: translateY(0); bottom: -80px;}
  .slick-next{right: calc(50% - 60px);}
  .slick-prev{left: calc(50% - 60px); transform: translateY(0) rotate(180deg);}
}
@media (max-width: 1024px) {
  .navbar{
    width: 100%; padding: 46px 0; justify-content: flex-start; min-height: 50px;
    .logo{width: 95px;}
    .navbar-toggler{display: block;}
    .language{
      position: absolute; right: 65px;
      .selected{width: 64px;}
    }
  }
  .navbar-collapse{
    display: flex; flex-direction: column; justify-content: center;
    position: fixed; left: 0; top: -100%;
    width: 100%; height: 100%;
    background: url("#{$img-path}/Banner_Bg.jpg");
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{top: 0;}
  }
  .navbar-toggler{
    display: block;
    width: 20px;
    height: 14px;
    padding: 0;
    background: none; border: none;
    position: absolute; left: 65px;
    span{
      display: block; width: 20px; height: 2px; border-radius: 2px;
      background: #FFF4BD; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 20px; height: 2px; background: #FFF4BD; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggler.active{
    position: fixed; z-index: 999;
    span{width: 20px; transform: rotate(45deg);}
    span:after{width: 20px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0 40px;
    >*+*{margin: 22px 0 0;}
    > li:nth-child(4){margin: 0 20px;}
    > li > a{justify-content: center; padding: 10px 0; text-align: center; font-size: 16px; color: #fff;}
    > li:hover .sub-menu{display: block;}
    .active{
      color: #fff;
      &::after{background: #fff;}
    }
    .sub-menu{
      padding: 0 0 10px; display: none; position: relative; background: none; left: 0; text-align: center;
      a{color: #fff;}
      a:hover{background: none;}
    }
  }
  .box-breadcrumb{margin-top: 50px;}


  .tamchuc-slider{
    padding: 20px 20px 0;
    h4{font-size: vwm(16px);}
    h1{font-size: vwm(40px);}
    p{max-width: 60%; margin: 0 auto; font-size: 14px;}
  }
  .tamchuc-service{
    .des{margin-bottom: 30px;}
    .box-rating{margin-bottom: 20px;}
    .item{
      .info{margin-bottom: 15px;}
      .img-wrapper{width: 40%;}
      .content{padding: 16px; width: 58%; margin-left: 2%;}
      h3{margin-bottom: 12px; font: 600 24px/26px "Montserrat", sans-serif;}
    }
    .price{
      margin-right: 15px;
      &:nth-child(2){margin-right: 0;}
      p{font-size: 25px; line-height: 1.4;}
    }
  }
  .tamchuc-story{
    .quote{
      padding-left: 28px;
      .text{padding-left: 60px; font-size: 16px; line-height: 1.3;}
      .text::before{width: 46px; height: 46px;}
    }
    .btn-booking{right: 26px;}
  }
  .tamchuc-contact{
    padding-top: 60px;
    .info{max-width: 90%; margin-right: 0;}
    .col-left{max-width: 90%; margin: 0 auto 20px; padding-top: 0;}
    .col-right{max-width: 100%; margin: 0 auto;}
  }
  .box-order{
    height: auto; padding: 15px;
    .item{padding: 0 15px; margin: 5px; height: 62px;}
  }
  footer{
    .award{position: absolute; right: 25px; bottom: 10px;}
    .row > div{margin-bottom: 20px; position: inherit;}
  }

  .box-title h2{font-size: 32px; line-height: 1.4;}
}

@media (max-width: 820px) {
  .news-list{grid-template-columns: repeat(2,1fr); grid-column-gap: 16px;}
}
@media (max-width: 767px) {
  .tamchuc-slider{
    h4{line-height: 1.6;}
    p{font-size: 13px; width: 90%; margin: 0 auto;}
  }
  .tamchuc-story{
    .booking{flex-wrap: nowrap; min-width: 780px;}
    .quote{padding-top: 20px;}
    .btn-booking{position: relative; margin: 20px 0 0 auto;}
    .btn-search{
      padding: 4px;
      .icon{margin-right: 0;}
      .text{display: none;}
    }
  }
  .tamchuc-story-ins{
    padding: 50px 0;
    .content{width: 100%; padding: 0; font-size: 16px; line-height: 24px; text-align: center;}
  }
  .tamchuc-media{
    padding-top: 60px;
    .box-video{width: 100%; height: vwm(215px); margin-top: 36px;}
  }
  .tamchuc-library{
    padding: 60px 0 100px;
    .gallery{grid-template-columns: repeat(3,1fr);}
  }

  .box-breadcrumb{
    img{min-height: 200px; object-fit: cover;}
    .breadcrumb{
      li:nth-child(1) a{margin: -16px 10px 0 0; line-height: 1.3;}
    }
  }
  .tab{
    margin-bottom: 35px;
  }
  .box-order{
    .date{font-size: 15px;}
    &.active{overflow: auto; padding: 10px;}
  }
  footer{
    .bottom{margin-top: 20px;}
    .copyright{display: none;}
    .social{margin-left: auto;}
    .col-lg-5{border-bottom: 1px solid rgba(#fff,.5);}
    .col-lg-3{padding-top: 20px; border-top: 1px solid rgba(#fff,.5);}
  }
  .title-dc{
    width: auto; margin: 0 auto 16px; display: flex; font-size: 32px; line-height: 1.4;
    span:nth-child(2){margin-left: 6px;}
    &::after{display: none;}
  }
}

@media (max-width: 640px) {
  .category{
    .navbar-toggler{left: 15px;}
    .navbar .language{right: 15px;}
  }
  .tamchuc-story{
    padding-bottom: 60px;
    .quote{
      padding: 0;
      .text{
        padding-left: 45px; font-size: 13px;
        p:nth-child(2){margin: 4px 0 0 16px;}
      }
      .text::before{width: 36px; height: 36px;}
    }
    .intro{margin-bottom: 16px;}
    .img-wrapper{margin: 0; padding: 54px 0 30px;}
  }
  .tamchuc-slider{
    .item img{min-height: 400px; object-fit: cover;}
  }
  .tamchuc-utilities{
    padding-top: 30px;
    &::after{
      height: vwm(141px);
      background: url("#{$img-path}/cloud-2.png") no-repeat 0 0/contain;
      bottom: vwm(-36px); z-index: 2;
    }
    .box-title{
      margin-bottom: 20px;
      h2{background: none;}
    }
    .content{padding: 16px;}
  }
  .tamchuc-service{
    padding: 50px 0 60px;
    .item{
      flex-wrap: wrap;
      ul{min-height: auto;}
      .img-wrapper,.content{width: 100%; margin: 0;}
      .img-wrapper{
        margin-bottom: 15px;
        img{width: 100%;}
      }
      .content{background: none; padding: 16px 0;}
    }
    .content{
      .flex-lc{justify-content: space-between;}
    }
    .rating{margin: 0 0 10px;}
    .btn-pr{margin: 12px auto 0;}
  }
  .tamchuc-why{
    padding: 35px 0; height: auto; background: url("#{$img-path}/bg-why-m.jpg") no-repeat top center;
    .box-text{width: 100%; padding-left: 0; overflow: auto; text-align: center;}
    .title{width: 100%; max-width: 220px; margin: 0 auto 10px;}
  }
  .tamchuc-news{
    padding: 50px 0;
    .news-list{margin-top: 30px; }
    .view-more{margin-top: 30px;}
  }
  .tamchuc-gallery{
    .gallery{grid-gap: 10px;}
  }
  .tamchuc-contact{
    padding-top: 30px;
    .info{max-width: 100%;
    }
    form{
      padding: 16px;
      .form-row{
        margin: 0;
        .form-group{width: 100%;}
      }
      h3{font-size: 30px; line-height: 1.4;}
      textarea{height: 186px;}
    }
    .map{height: 210px; margin-top: 20px;}
  }
  .tamchuc-tienich{
    padding: 40px 0 30px;
    .box-title{margin-bottom: 30px;}
    .item h2{padding-left: 0; max-width: 80%; font: 600 24px/36px "Montserrat", sans-serif;}
    .des{max-width: 100%;}
    .img-list{
      grid-gap: 12px; grid-template-columns: repeat(2,1fr);
      a:nth-child(1){display: none; grid-row: inherit;}
    }
    .table{
      width: 100%; overflow: auto;
      img{min-width: 580px;}
    }
    .slick-arrow{top: 0px;}
  }

  .ticket{
    right: 15px;
    &:hover span{right: 85px;}
    button{width: 68px; height: 68px;}
    span{
      padding: 0 15px;
      top: 14px; right: 0;
    }
  }
  .news-detail{
    .title{font-size: 28px; line-height: 1.4;}
  }
  .box-title{
    margin-bottom: 12px;
    &::before,&::after{display: none;}
    h2{height: auto; background: none; white-space: nowrap;}
  }
  .pagination{
    margin-top: 30px;
    .page-link{width: 36px; height: 36px;}
  }
  .box-order{display: none;}
  .view-more{margin-top: 0;}
}

@media (max-width: 480px) {
  header.scroll{
    .navbar{
      .language{right: 20px;}
    }
    .navbar-toggler{left: 20px;}
  }
  .navbar{
    .language{right: 50px;}
  }
  .navbar-toggler{left: 50px;}
  .tamchuc-slider{
    .stork{
      &--1{width: 132px; height: 46px; top: 100px; left: -36px;}
      &--2{width: 72px; height: 74px; top: inherit; bottom: -2%; right: 8%;}
      &--3{width: 70px; height: 77px; top: inherit; bottom: 5%; right: 19%;}
    }
    .img-mobile{display: block;}
    .img-pc{display: none;}
    .text{justify-content: flex-start; padding-top: 40%;}
    h4{margin-bottom: 5px; font-size: 20px; line-height: 28px;}
    h1{font-size: 55px; line-height: 77px;}
    p{max-width: 301px; margin: 0 auto; font-size: 14px; font-weight: 400;}
  }
  .tamchuc-story-ins{
    .pagoda{
      margin-top: 30px;
      flex-wrap: wrap;
      &__1{width: 100%;}
      &__2{width: 65%; margin: 0 auto;}
    }
  }

  .tamchuc-library{
    .gallery{grid-template-columns: repeat(2,1fr);}
  }
  .tamchuc-news::before{top: 130px;}
  .news-list{grid-template-columns: repeat(1,1fr)}


}